
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oxygen&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

/* organized by tag selection alphabetically,
followed by id selection alphabetically */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bare-maroon: #98003C;
  --main-yellow: #FFB600;
  --accent-orange: #FF8600; 
  --gogo-green: #00985C;
}

body {
    background-color: var(--main-yellow);
    color: var(--bare-maroon);
}

/* The Quiz Questions */
h1 {
    margin-top: 10px;
    font-family: 'Sigmar One', cursive;
    font-size: 2.2em;
}

h3 {
    margin: 20px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2em;
}

/* High Score Page */
h4 {
    font-family: 'Mukta', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
}

li:hover {
    background-color: var(--gogo-green);
    color: var(--main-yellow);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--bare-maroon);
    color: var(--main-yellow);
}

nav a {
    display: inline-block;
    justify-items: flex-start;
    color: var(--main-yellow);
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    text-decoration: none;
}

ol li {
    margin: auto;
    padding: 7px;
    text-align: left;
    width: 300px;
    height: 75px;
    background-color: var(--accent-orange);
    color: var(--gogo-green);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

/* Correct or Incorrect Answer */
p {
    margin-top: 15px;
    font-family: 'Vujahday Script', cursive;
    font-size: 3em;
    font-weight: 900;
    padding-bottom: .75em;
}

/*  Used for High Score Only */
span {
    font-family: 'Sigmar One', cursive;
    color: var(--gogo-green);
}

/* Multiple Choice Links */
ul li {
    margin-top: 7px;
    margin-left: 30px;
    padding: 10px;
    text-align: left;
    width: 350px;
    height: 70px;
    background-color: var(--accent-orange);
    color: var(--bare-maroon);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    list-style-type: none;
    border-radius: 14px;
}

.high-score-buttons {
    margin: 10px;
    padding: 1px;
    width: 300px;
    height: 85px;
    background-color: var(--bare-maroon);
    color: var(--main-yellow);
    font-family: 'Sigmar One', cursive;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 20px;
}

.high-score-buttons:hover {
    background-color: var(--gogo-green);
}

#cs-icons-quiz {
    width: 70%;
    height: 75%;
    margin: 50px;
    text-align: center;
    display: none;
}

#player {
    padding: 2px;
    width: 200px;
    height: 85px;
    background-color: var(--bare-maroon);
    color: var(--accent-orange);
    font-family: 'Sigmar One', cursive;
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
}

/* Before the quiz starts */
#instructions {
    width: 70%;
    height: 75%;
    margin: 50px;
    text-align: center;
    display: block;
}

#out-of-time {
    width: 70%;
    height: 75%;
    margin: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2em;
    display: none;
}

/* Did the user get the answer right or wrong? */
#result {
    margin-top: 15px;
    font-family: 'Vujahday Script', cursive;
    font-size: 3em;
    font-weight: 900;
    width: 70%;
    height: 75%;
    margin: 50px;
    text-align: center;
    display: none;
}

#scoreboard {
    margin: 25px auto 5px auto;
    padding-top: 25px;
    text-align: center;
}

#start,
#initialSubmit {
    padding: 2px;
    width: 200px;
    height: 85px;
    background-color: var(--gogo-green);
    color: var(--main-yellow);
    font-family: 'Sigmar One', cursive;
    font-size: 2.5em;
    font-weight: bolder;
    border-radius: 20px;
}

#timer {
    justify-items: flex-end;
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
}

/* High Score Page */
#quiz-completed {
    width: 70%;
    height: 75%;
    margin: 50px;
    text-align: center;
    display: none;
}

#quiz-question {
    margin: 20px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2em;
}
