@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oxygen&family=Vujahday+Script&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bare-maroon: #98003C;
  --main-yellow: #FFB600;
  --accent-orange: #FF6500; 
  --gogo-green: #00985C;
}

body {
    background-color: var(--main-yellow);
    color: var(--bare-maroon);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--bare-maroon);
    color: var(--main-yellow);
}

nav a {
    display: inline-block;
    justify-items: flex-start;
    color: var(--main-yellow);
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    text-decoration: none;
}

#timer {
    justify-items: flex-end;
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions {
    width: 70%;
    height: 75%;
    margin: 50px;
    text-align: center;
    display: block;
}

#cs-icons-quiz {
    width: 70%;
    height: 75%;
    margin: 50px;
    text-align: center;
    display: none;
}

/* The Quiz Questions */
h1 {
    margin-top: 15px;
    font-family: 'Sigmar One', cursive;
    font-size: 2.5em;
}

h3 {
    margin: 20px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2em;
}

#start {
    padding: 2px;
    width: 200px;
    height: 85px;
    background-color: var(--gogo-green);
    color: var(--main-yellow);
    font-family: 'Sigmar One', cursive;
    font-size: 2.5em;
    font-weight: bolder;
    border-radius: 20px;
}

#quiz-question {
    margin: 20px 0 20px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2em;
}

/* Multiple Choice Buttons */
ul li {
    margin-top: 7px;
    margin-left: 30px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    list-style-type: none;
}

/* Correct or Incorrect Answer */
p {
    margin-top: 15px;
    font-family: 'Vujahday Script', cursive;
    font-size: 3em;
    display: none;
}